<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
		 <class name="Com.ivlytstage.TestBase.TestBase"/>
		    <class name="Com.ivlytstage.TestLayer.LoginTestLayer"/>
      <class name="Com.ivlytstage.TestLayer.CatalogueTest"/>
    <class name="Com.ivlytstage.TestLayer.ProductDisplayTest"/>
  
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
